* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #001E4D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
.app h1 {
    font-size: 25px;
    color: #001E4D;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
#quiz-container {
    margin-top: 20px;
}
#question-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#question {
    font-size: 18px;
    color: #001E4D;
    font-weight: 600;
    margin-bottom: 10px;
}
#question-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    display: block;
}
.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 48%;
    border: 1px solid #222;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover {
    background: #222;
    color: #fff;
}
#next-btn {
    background: #001E4D;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct {
    background: #9AEABC;
}
.incorrect {
    background: #FF9393;
}
.feedback {
    font-size: 16px;
    margin: 10px 0;
    color: #001E4D;
    font-weight: 500;
}
#progress-container {
    width: 100%;
    background: #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 20px;
}
#progress-bar {
    height: 20px;
    background: #001E4D;
    width: 0;
}
