<head>
    <link rel="stylesheet" href="/css/styles_home.css">
</head>
<%- include("../_partial/_header.ejs"); -%>
    <div class="container"> 
        <header>
            <center> 
            <div class="cs-content">    
                <h1 class="cs-header" style= "font-weight: bold;">Biochemistry Topics</h1>
            </center>
        </header>
    <li class= "cs-item">
        <a href="/question" target= "_blank" class="cs-title">
            <button class="button" style="vertical-align:middle" width="25%"><span class="cs-title">Amino Acids</span> </button>
        </a> 
    </li>
    <li class= "cs-item">
        <a href="/question" target= "_blank" class="cs-title">
            <button class="button" style="vertical-align:middle"><span class="cs-title">Nucleic Acids</span> </button>
        </a> 
    </li>
    <li class= "cs-item">
        <a href="/question" target= "_blank" class="cs-title">
            <button class="button" style="vertical-align:middle"><span class="cs-title">Protein Structure and Function</span> </button>
        </a> 
    </li>
    <li class= "cs-item">
        <a href="/question" target= "_blank" class="cs-title">
            <button class="button" style="vertical-align:middle"><span class="cs-title">Metabolism</span> </button>
        </a> 
    </li>

    