<head>
    <link rel="stylesheet" href="/css/styles_home.css">
</head>
<!DOCTYPE html>
<html lang="en">
    <div class="header">
        <a href="#default" class="logo">CompanyLogo</a>
        <div class="header-right">
          <a class="active" href="/home">Home</a>
          <a href="/contact">About</a>
          <a href="/login">Log In</a>
        </div>
      </div>
    <div class="container"> 
<section id="services-218">
    <header>
        <center> 
        <div class="cs-content">    
            <h1 class="cs-header" style= "font-weight: bold;">Choose Your Subject</h1>
        </center>
    </header>
            <li class="cs-item">
                <a href="/question" class="cs-title" target="_blank">
                    <button class="button" style="vertical-align:middle"><span class="cs-title">Biochemistry</span> </button>
                </a>
            </li>
            <li class="cs-item">
                <a href="/question" target= "_blank" class="cs-title">
                    <button class="button" style="vertical-align:middle"><span class="cs-title">Pharmacology </span> </button>
                </a>
            </li>
            <li class="cs-item">
                <a href="/question" class="cs-title" target="_blank">
                <button class="button" style="vertical-align:middle"><span class="cs-title">Genetics</span> </button>
                </a>
            </li>
            <li class="cs-item">
                <a href="/questions.js" class="cs-title" taget="_blank">
                <button class="button" style="vertical-align:middle"><span class="cs-title">Case Studies</span> </button>
                </a>
            </li>
</div>
<sub class="cs-footer">Created by SLO BCMC</sub>
</body>
</html>