<head>
    <link rel="stylesheet" href="/css/styles_home.css">
</head>
<!DOCTYPE html>
<html lang="en">
<%- include("../_partial/_header.ejs"); -%>

<section id="services-218">
    <header>
        <center> 
        <div class="cs-content">    
            <h1 class="cs-header" style= "font-weight: bold;">Choose Your Subject</h1>
        </center>
    </header>
            <li class="cs-item">
                <a href="/biochemistry_home" class="cs-title" target="_blank">
                    <button class="button" style="vertical-align:middle"><span class="cs-title">Biochemistry</span> </button>
                </a>
            </li>
            <li class="cs-item">
                <a href="/inprogress" target= "_blank" class="cs-title">
                    <button class="button" style="vertical-align:middle"><span class="cs-title">Pharmacology </span> </button>
                </a>
            </li>
            <li class="cs-item">
                <a href="/inprogress" class="cs-title" target="_blank">
                <button class="button" style="vertical-align:middle"><span class="cs-title">Genetics</span> </button>
                </a>
            </li>
            <li class="cs-item">
                <a href="/inprogress" class="cs-title" taget="_blank">
                <button class="button" style="vertical-align:middle"><span class="cs-title">Case Studies</span> </button>
                </a>
            </li>
</div>
<sub class="cs-footer">Created by SLO BCMC</sub>
</body>
</html>