<head>
    <link rel="stylesheet" href="/css/home/styles_home.css">
</head>
<!DOCTYPE html>
<html lang="en">
<%- include("../_partial/home/_header.ejs"); -%>

<section id="services-218">
    <header>
        <center> 
        <div class="cs-content">    
            <h1 class="cs-header" style= "font-weight: bold;">In Progress</h1>
        </center>
    <body>
        <p class="cs-title"> This page is in progress! Come back soon! </p>
    </body>

    <%- include("../_partial/home/_footer.ejs"); -%>
