    <div id="quiz-container">
      <div id="question-container">
        <div id="question">Question</div>
        <img id="question-image" src="" alt="Question Image">
      </div>
      <div id="answer-buttons" class="btn-container"></div>
      <button id="next-btn" class="btn">Next</button>
      <div id="feedback" class="feedback"></div>
    </div>
  </div>
  <script src="scripts/questions/quiz.js"></script>